<div class="modal-header d-flex justify-content-between align-items-center">
  <h4 class="modal-title">Detalles de servidores virtuales <b>{{Sitio}}</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-4 text-center p-3 card-modal d-flex justify-content-center align-items-center">
      <div>
        <img src="assets/img/Windows2.svg" class="img-server" *ngIf="so == 'Windows'">
        <img src="assets/img/linux3.svg" class="img-server" *ngIf="so == 'Linux'">
        <h4 class="mt-2">{{totalVirtuales}}</h4>
        <h4>Servidores</h4>
      </div>
    </div>
    <div class="col-4 text-center p-3 card-modal d-flex justify-content-center align-items-center">
      <div>
        <img src="assets/img/UP.svg" class="img-icon">
        <h4 class="mt-2">{{totalVirtuales - problemasVirtuales}}</h4>
        <h4>Arriba</h4>
      </div>
    </div>
    <div class="col-4 text-center p-3 card-modal d-flex justify-content-center align-items-center">
      <div>
        <img src="assets/img/DOWN.svg" class="img-icon">
        <h4 class="mt-2">{{problemasVirtuales}}</h4>
        <h4>Abajo</h4>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <p-table [value]="hosts" styleClass="p-datatable-gridlines p-datatable-striped"
      [rows]="20"
      [rowsPerPageOptions]="[20, 50, 100, 300, 500, 1000]"
      [scrollable]="true"
    scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
              <th>
                Físico
              </th>
              <th pSortableColumn="name">
                Virtual <p-sortIcon field="name" />
              </th>
              <th>Estado</th>
              <th>SO</th>
              <!-- <th pSortableColumn="ip">
                IP <p-sortIcon field="ip" />
              </th> -->
              <!-- <th>CPU</th>
              <th>Uso CPU</th>
              <th>Memoria GB</th>
              <th>Uso Memoria %</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-host>
            <tr>
              <td>{{ host.fisico }}</td>
              <td [ngClass]="{'color-red': host.estado == 'not running', 'text-white': host.estado == 'not running'}">{{ host.name }}</td>
              <td>
                <img src="assets/img/UP.svg" class="img-icon" *ngIf="host.estado == 'running'">
                <img src="assets/img/DOWN.svg" class="img-icon" *ngIf="host.estado == 'not running'">
              </td>
              <td>{{host.so}}</td>
              <!-- <td>{{ host.interfaces[0].ip }}</td>
              <td>{{ hostCpu[host.hostid]| number : '1.2-2' }} Ghz</td>
              <td>{{ hostCpuUsado[host.hostid] | number : '1.2-2' }} Ghz</td>
              <td>{{ hostMemoria[host.hostid] | number : '1.2-2'}} GB</td>
              <td>{{ hostMemoriaUsada[host.hostid] | number : '1.2-2' }} %</td> -->
            </tr>
        </ng-template>
    </p-table>

    </div>
  </div>
</div>
