.bg-title {
  background: rgb(5, 24, 36);
  background: linear-gradient(90deg, rgba(5, 24, 36, 1) 0%, rgba(35, 45, 70, 1) 50%, rgba(5, 24, 36, 1) 100%);
  padding: 15px;
}

.color-lime {
  color: lime;
}

.color-red {
  color: red;
}

.color-normal {
  color: #fff;
}

.color-warning {
  color: rgb(245, 128, 62);
}

.border-red .p-accordion-tab {
  border: 1px solid red !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.card {
  background: #121e2d !important;
  color: #fff !important;
}

.img-thumbnail {
  background-color: transparent !important;
  border: none !important;
}

.img-server {
  width: 50px;
    height: 50px !important;
}

.img-icon {
  width: 30px;
    height: 30px !important;
}

.border-lime {
  border: 1px solid lime;
  padding: 10px;
  border-radius: 0.375rem;
}

.border-red {
  border: 1px solid red !important;
  padding: 10px;
  border-radius: 0.375rem;
}

.border-red-inner {
  border: 1px solid red;
  padding: 10px;
  border-radius: 0.375rem;
}

.pointer-events-none {
  pointer-events: none;
}

.text-500 {
  color: #5e6e82 !important;
}

#span_etiqueta {
  color: #5e6e82 !important;
}

.cursor-pointer{
  cursor: pointer;
}

.ml-2 {
  margin-left: 0.5rem;
}

h5 span {
  font-size: 1.2rem;
}
::ng-deep {
  .p-accordion-header-link {
    color: #fff !important;
    text-decoration: none !important;
  }

  .border-red .p-accordion-tab {
    border: 1px solid red;
  }

  .p-knob-text::after {
    content: '%';
  }


}

:host ::ng-deep .knob text.p-knob-text {
  font-size: 30px;
  font-weight: bold;
}

:host ::ng-deep .knob text.p-knob-text {
  &::after {
    content: '%';
  }
  &::before {
    content: '%';
  }
  font-size: 30px;
  font-weight: bold;
}
